services:
  backend:
    container_name: crownsshclient-backend
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "7002:7002"
    env_file:
      - .env
    environment:
      - PORT=7002
      - NODE_ENV=production
      - REDIS_HOST=redis
    networks:
      - app-network
    depends_on:
      - redis

  redis:
    image: redis:alpine
    container_name: crownsshclient-redis
    ports:
      - "6379:6379"
    networks:
      - app-network

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
      args:
        - VITE_API_URL=${VITE_API_URL}
        - VITE_WS_URL=${VITE_WS_URL}
        - BACKEND_PORT=${PORT}
        - VITE_REQUIRED_PIN=${VITE_REQUIRED_PIN}
    ports:
      - "7001:80"
    networks:
      - app-network
    depends_on:
      - backend

networks:
  app-network:
    driver: bridge
